extends ../layouts/master

block web-content
  // CONTENT HEADER (PAGE HEADER)
  div.content-header
    div.container-fluid
      div.row.mb-2
        div.col-sm-6
          h1.m-0.text-dark Dashboard
        div.col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href="/") Dashboard
            li.breadcrumb-item.active Citizen Management
  // MAIN CONTENT
  div.content
    div.container-fluid
      div.card
        div.card-header.p-4
          a.btn.btn-success(href="/citizen/create", role="button") Add New Citizen Data
        div.card-body.p-4
          div.table-responsive
            table.table.table-striped(id="table-citizen")
              thead
                tr
                  th ID
                  th Name
                  th Address
                  th Marital Status
                  th Family Card ID
              tbody
                each citizen in citizens
                  tr
                    td #{citizen.id}
                    td #{citizen.name}
                    td #{citizen.address}
                    td #{citizen.birth_date}
                    td #{citizen.family_card.id} - #{citizen.family_card.name}

block web-js
  //  DataTable
  script(src="/plugins/datatables/jquery.dataTables.min.js")
  script.
    $(function () {
      $('#table-citizen').DataTable()
    })

block web-css
  link(rel="stylesheet", href="/css/dataTables.bootstrap4.min.css")
  link(rel="stylesheet", href="/css/jquery.dataTables.min.css")